body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    display:block;
    margin-left: auto; margin-right: auto; 
    width: 40%;
    margin-top: 5%;
   
}
.b{
    color:red; font-weight: bold;
}
nav{
    background-color: rgb(0, 0, 156); 
    padding:10px; 
    position:absolute; top: 5%; left: 5%;
    border-radius: 30px;
}
nav a{
    color: azure; text-decoration: none; 
   
}
.nuc ,.dam, .home, .wind{
    z-index: 2;
    position: absolute; 
}
.nhide , .hhide, .dhide, .whide{
    position: absolute;
    z-index: 2;
    display: none;
    font-weight: bold;
    }
    
    .nuc:hover+.nhide{
        display: block;
    }
    .dam:hover+.dhide{
        display: block;  
    }
.wind:hover+.whide{
    display: block;
}
.home:hover+.hhide{
    display: block;
}
.nuc{
    width:12%; 
    top:32%;
    left:20%;
}
.nhide{
    width:10%;
    top:45%;
    left:23%;
    
    color: aliceblue;
}
.dam{
    width:15%; 
    height: 7%;
    right:34%;
    top:4%;
}
.dhide{
    width: 10%;
    right:30%;
    top:12%;
   
}
.wind{
    width:10%;
    right:25%;
    top:20%;
    
}
.whide{
    width: 15%;
    right:18%;
    top:30%
}
.home{
    width:33%; height: 10%;
    right:6%;
    bottom: 4%;
}
.hhide{
    right:10%;
    bottom:15%;
}